// Variables
$background: #5a5050;
$number-button: #827d7d;
$operator-button: #fa9b28;
$other-button: #695f64;
$white: #ffffff;
$button-width: 80px;
$button-height: 78px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #fff;
  margin: 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: 2rem repeat(6, 6rem);
  // background-color: $background;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  overflow: hidden;
  background-color: $background;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  // Exclude the icon-wrapper from the grid styles
  .icon-wrapper {
    display: grid;
    grid-template-columns: 1fr auto; // Tạo hai cột: một cột rộng và một cột tự động
    grid-column: 1 / -1;
    align-items: center; // Căn giữa theo chiều dọc
    padding: 13px 12px 0px;
    .icon {
      display: flex;
      gap: 10px;
      justify-content: flex-start;
      width: 80px;
      height: 20px;
      border-radius: 100%;

      &.Red {
        // margin-left: 15px;
        background-color: #fb5f5b;
      }

      &.Yellow {
        background-color: #fbba3f;
      }

      &.Blue {
        background-color: #33c547;
      }
    }
    .history-btn {
      display: flex;
      align-items: center; // Căn giữa theo chiều dọc nếu cần
      font-size: 26px !important;
      cursor: pointer;
      transition: .25s;
      &:active {
        transform: translateX(-2px) translateY(-2px);
      }
    }
  }
}

.calculator button {
  border: none;
  // border-radius: 15px;
  background-color: $number-button;
  color: $white;
  font-size: 35px;
  font-weight: 600;
  // margin: 6px;
  border: 1px solid $background;
  user-select: none;
  cursor: pointer;

  // &:hover {
  //   // background-color: #ff74ff;
  //   outline: 1px solid #0b091eaf;
  //   transition: 0.2s;
  // }

  &:focus {
    transition: 0.1s;
    outline: 1px solid #0b091eaf;
  }

  &.button-operator {
    background-color: $operator-button;
  }

  &.button-top {
    background-color: $other-button;
  }

  &.button-zero {
    grid-column: span 2;
  }
}

.calculator button:active {
  box-shadow: none;
  transform: translateX(-2px) translateY(-2px);
  border-radius: -10px;
}

.output-box {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  row-gap: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.result-box {
  text-align: right;
  padding-right: 10px;
  font-size: 15px;
  color: #c5cbd1;
}

.input-box {
  overflow: hidden;
  margin: 0px 6px 10px 0px;
  height: auto;
  font-size: 43px;
  line-height: 38px;
  width: 95%;
}

.input-box #calculation {
  width: auto;
  user-select: text;
  float: right;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.2s ease;
  // text-overflow: ellipsis; /* Đoạn văn bản dài hơn chiều rộng sẽ được cắt bớt với dấu ba chấm */
}

.small-text {
  font-size: 35px; /* Kích thước chữ nhỏ hơn khi dài */
}

/* Đảm bảo các nút không bị thay đổi kích thước */
.btn {
  cursor: pointer;
  width: 87px;
  margin: 4px;
}
.layout {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// .calculator {
//   flex: 1;
// }

.history {
  position: relative;
  // flex: 1;
  // max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $background;
  text-align: center;
  height: 550px;
  max-height: 100%;
  border-radius: 10px;
  width: 300px;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  ul {
    background-color: #fff;
    border-radius: 5px;
    width: 85%;
    height: 65%;
    max-height: 400px;
    color: #000;
    overflow-y: scroll;
    font-size: 22px;
    word-wrap: break-word;
  }
}

.button-clear {
  background-color: #f44336;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s ease;

  &:hover {
    // background-color: #d32f2f; /* Darker red */
    background-color: #d5382d;
  }
}

@media (max-width: 737px) {
  body {
    height: auto;
    min-height: 150vh;
    display: block;
    padding: 0;
    margin: 0;
  }
  .calculator {
    margin-top: 20px;
  }

  .layout {
    margin-top: 20px;
  }

  .history {
    width: 90%;
    height: fit-content;
    ul {
      height: 300px;
      max-height: none;
      color: #000;
      overflow-y: auto;
      font-size: 22px;
    }
  }

  .button-clear {
    // position: relative;
    position: initial;
    transform: initial;
    margin: 10px auto; // Đặt margin tự động để căn giữa
  }
}
